<div class="container mt-4" style=" background: transparent;
    border: gray;
    border-style: solid;">
  <h2 class="text-center">Create Editorial</h2>
  <h4 class="text-md-left">Necesito completar el formulario de creación:
  </h4>
  <h4 class="text-md-left">
    - Añade el campo de Fecha de creación (datepicker).
  </h4>
  <h4 class="text-md-left">
    - Añade el email del director (valida que sea email correcto)
  </h4>
  <h4 class="text-md-left">
    - Los dos campos son obligatorios</h4>
  <form [formGroup]="editorialForm" (ngSubmit)="createEditorial(editorialForm.value)">
    <div class="form-group mx-sm-3 mb-2">
      <label for="name"> Editorial Name </label>
      <input novalidate id="name" class="form-control" formControlName="name" placeholder="Editorial Name" />
    </div>
    <div class="alert alert-danger alert-dismissible fade show" *ngIf="
        editorialForm.get('name')?.hasError('required') &&
        editorialForm.get('name')?.touched
      ">
      Name required
    </div>
    <div class="form-group mx-sm-3 mb-2">
      <label for="name"> Email del director </label>
      <input type="email" class="form-control" formControlName="mail" placeholder="Email del director" />
    </div>
    <div class="alert alert-danger alert-dismissible fade show" *ngIf="
        (editorialForm.get('mail')?.hasError('required') || editorialForm.get('mail')?.hasError('email')) &&
        editorialForm.get('mail')?.touched
      ">
      El email es obligatorio y debe tener un formato correcto.
    </div>


    <div class="form-group mx-sm-3 mb-2">
      <label for="name"> Fecha de creación </label>
      <input type="date" class="form-control" formControlName="fecha" placeholder="Fecha de creación" />
    </div>
    <div class="alert alert-danger alert-dismissible fade show" *ngIf="
        editorialForm.get('fecha')?.hasError('required') &&
        editorialForm.get('fecha')?.touched
      ">
      La fecha es incorrecta
    </div>
    <div class="text-center">
      <button id="submit" type="submit" class="btn btn-primary btn-lg" [disabled]="editorialForm.invalid">
        Create
      </button>
      <button type="button" class="btn btn-danger ml-3 btn-lg" (click)="cancelCreation()">
        Cancel
      </button>
    </div>
  </form>
</div>
